#task-list {
  margin-top: 25px;
}

.check {
  cursor: pointer;
}

.done {
  background-color: #acecac;
  text-decoration: line-through;
}

.done td {
  text-decoration: line-through;
}

.task {
  display-none;
}

.display-none {
  display: none;
}

.strike {
  color: red;
  text-decoration: line-through;
}
